<section class="about">
    <h1 class="text-center">About</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt laboriosam sunt quaerat molestias omnis quo provident ab, maiores mollitia incidunt hic ipsam? Perferendis corrupti nam dolores asperiores eaque ea sapiente!</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci totam sit voluptate pariatur a possimus. Adipisci blanditiis sed, totam, nostrum minima vero voluptas minus unde saepe aut maxime. Laudantium, ducimus?</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci totam sit voluptate pariatur a possimus. Adipisci blanditiis sed, totam, nostrum minima vero voluptas minus unde saepe aut maxime. Laudantium, ducimus?</p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci totam sit voluptate pariatur a possimus. Adipisci blanditiis sed, totam, nostrum minima vero voluptas minus unde saepe aut maxime. Laudantium, ducimus?</p>

<div class="follow text-center">
    <h4>Follow Us</h4>
<a href="#">Facebook</a>
<a href="#">Youtube</a>
<a href="#">Instagram</a>
<a href="#">Twitter</a>
</div>

</section>