.navbar
{
    background-color: #ffffff;
}
.navbar-light .navbar-nav .nav-link
{
color: black;
font-size: 19px;
} 
.navbar-light .navbar-nav .nav-link:hover
{
text-decoration:underline;
} 
footer{
    background-color: cadetblue;
}